* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0) !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#img-heder {
    width: 100%;
    max-height: 740px !important;
}

.header-get-a-quote .btn23:hover {
    background: #272d33 !important;
    color: #ffb600 !important;
}

.btn23 {
    width: 100%;
    margin-left: 20px;
    background-color: #ffb600 !important;
    color: #272d33 !important;
    border: none !important;
    padding: 10px !important;
}

@media only screen and (max-width: 1195px) {
    .btn23 {
        width: 100% !important;
        font-size: 14px !important;
        margin-left: 0px !important;
        /* margin-right: -rem; */
        /* padding: 10px !important; */
    }

    #navbtn {
        margin-right: -3rem !important;

    }
}

@media only screen and (max-width: 882px) {
    #navbtn {
        text-align: start !important;
    }

    .header-get-a-quote {
        width: 18%;
    }

    .img-service {
        width: 100%;
    }
}

.nav-fill .nav-item,
.nav-fill>.nav-link {
    flex: 0.1 auto !important;
    text-align: center;
}

.navbar-toggler {
    background-color: #ffb600 !important;
    color: #fff !important;
}

.btn24 {
    margin-left: 20px;
    background-color: #ffb600 !important;
    color: #272d33 !important;
    border: none !important;
    padding: 10px !important;
}

.btn123 .btn24:hover {
    background: #272d33 !important;
    color: #ffff !important;

}

#zero:hover {
    color: #ffb600 !important;
    cursor: pointer;
}

.learn-color:hover {
    color: #ffb600 !important;
    cursor: pointer;
}

.pragrap-color {
    color: #ffb600;
}

#text-degin:hover {
    color: #ffb600 !important;
}

.active.link-secondary {
    font-weight: bold;
    color: #fff;
}


#tabs-boder {
    border-bottom: 3px solid #ffb600;
}

#btncolor {
    background-color: #ffb600;
}

.btn22 {
    background-color: #ffb600;
}

#btanhover {
    background-color: #ffb600;
    color: #fff;
}

#btanhover:hover {
    background-color: #272d33;
    color: #fff;

}

#total {
    background-color: #252525;
}

#icon-quoet {
    font-size: 32px !important;
    color: #ffb600;
}

.quat-color {
    color: #ffb600;
}

#img1233 {
    max-width: 80%;
    border: 1px solid #dadada;
    padding: 30px;
    filter: grayscale(100%);
}

#img1234 {
    max-width: 95%;
    border: 1px solid #dadada;
    padding: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    filter: grayscale(100%);
    margin-left: 20px;
}

#img1235 {
    max-width: 100%;
    border: 1px solid #dadada;
    padding: 1.2rem !important;
    filter: grayscale(100%);
}

#img12335 {
    max-width: 100%;
    border: 1px solid #dadada;
    padding: 1.2rem !important;
    filter: grayscale(100%);
    margin-left: 2.3rem !important;
}

#can-we {
    background-color: #ffb600;
}

#newsleter {
    background-color: #252525;
}

#inputfil {
    width: 60%;
    background: none;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#inputfil:focus {
    border: 1px solid #dadada;
    background-color: #fff;
}

.card {
    border: none !important;
}

.cadr-hove:hover {
    color: #ffb600;
}

.card-body {
    padding: 1rem 0rem !important;
}

#about-boder {
    border-left: 3px solid #ffb600;
}

#about-paragrap {
    color: #999;
}

#about-icons {
    color: #999;
}

#text-color {
    color: #999;
}

#pre-const {
    color: #747474;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

#span-colr:hover {
    color: #ffb600;
    cursor: pointer;
}

#footer-back {
    background-color: #ffb600;
    text-align: center;
    font-size: 12px;
}

.footer-link {
    text-decoration: none !important;
    color: #252525;
    font-size: 12px;
}

.footer-link:hover {
    color: #fff;
    cursor: pointer;
}

#home-icon {
    float: right;
    padding: 12px;
    background-color: #000;
    color: #ffb600;
    margin-bottom: 30px;
}

#boder34 {
    width: 90%;
    border-bottom: 2px solid #ffb600;
    margin-left: 2.4rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ffb600 !important;
}

#recent-img {
    width: 32%;
    margin-right: -5px;
}

.color2 {
    color: #000;
}


#recent-img:hover {}

.scale-in-center {
    -webkit-animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-16 18:59:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}






/* imgtwo */

.flip-scale-down-ver {
    -webkit-animation: flip-scale-down-ver 1s linear alternate both;
    animation: flip-scale-down-ver 1s linear alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-24 13:52:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-down-ver
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-down-ver {
    0% {
        -webkit-transform: scale(1) rotateY(0);
        transform: scale(1) rotateY(0);
    }

    50% {
        -webkit-transform: scale(0.4) rotateY(-90deg);
        transform: scale(0.4) rotateY(-90deg);
    }

    100% {
        -webkit-transform: scale(1) rotateY(-180deg);
        transform: scale(1) rotateY(-180deg);
    }
}

@keyframes flip-scale-down-ver {
    0% {
        -webkit-transform: scale(1) rotateY(0);
        transform: scale(1) rotateY(0);
    }

    50% {
        -webkit-transform: scale(0.4) rotateY(-90deg);
        transform: scale(0.4) rotateY(-90deg);
    }

    100% {
        -webkit-transform: scale(1) rotateY(-180deg);
        transform: scale(1) rotateY(-180deg);
    }
}



.scale-up-bl {
    -webkit-animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}






/* ----------------------------------------------
 * Generated by Animista on 2022-7-19 19:44:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bl
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}